<h1><%= @game.name1 %> vs. <%= @game.name2 %></h1>
<p><%= @game.name2 %> HP: <%= @game.hp2 %></p>
<form action='/attack' method='post'><input type="submit" value="Attack"/></form>
<% if @last_action == :attack %>
  <%= @game.name1 %> attacks <%= @game.name2 %>
<% end %>
