<h1>Battle Arena!</h1>

It's <%= @game.turn.name %>'s turn!

<br>
<br>

<%=@game.p1_name%> HP: <%=@game.p1_hp%><br>
<br>
vs.<br>
<br> <%=@game.p2_name%> HP: <%=@game.p2_hp%>

<br>
<br>

<form action="/attack" method="post">
  <input type="submit" value="Attack!"/>
</form>
