<div>
  <%= @game.player_name(Player1).capitalize %>
  <%= @game.player_health(Player1) %>/60 HP
</div>
VS
<div>
  <%= @game.player_name(Player2).capitalize %>
  <%= @game.player_health(Player2) %>/60 HP
</div>

<div>
  <form action='/attack'>
  <input type="submit" value="Attack">
  </form>
<div>

<% if @game.current == Player2 %>
  <%= @game.player_name(Player2).capitalize %>'s turn
<% else %>
  <%= @game.player_name(Player1).capitalize %>'s turn
<% end %>
